<!DOCTYPE html>
{% extends "base.html"%}
    {% block body_block %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">台指期分析模型</h1>
            <hr class="my-4">
            <p class="lead">本程式可做台灣台指期貨回測，操作方法如下:</p>
            <ol>
                <li>
                    選擇回測資料的區間
                    <ul>
                        <li>選開始日期與結束日期，回測結果會是這段區間內的報酬分布。</li>
                    </ul>
                </li>
                <li>
                    選擇是否需要漲跌濾網 
                    <ul>
                        <li>若選當日漲，表示回測時只挑選當日收漲的日子。</li>
                    </ul>
                </li>
                <li>
                    選擇是否需要均線濾網 
                    <ul>
                        <li>若有勾選收均線以上或以下，需再輸入"均線濾網長度"。</li>
                        <li>若選收均線以上，表示回測時只挑選當日收該均線上或下的日子。</li>
                    </ul>
                </li>
                <li>
                    均線濾網長度
                    <ul>
                        <li>請輸入正整數。(若已勾"不需均線濾網"則可忽略)</li>
                        <li>若輸入10，表示均線為10日均線。</li>
                    </ul>
                </li>
                <li>
                    持有天數
                    <ul>
                        <li>請輸入正整數。</li>
                        <li>若輸入2，表示最後結果為滿足上述所有條件下的所有天數持有2天後的報酬。</li>
                    </ul>
                </li>

                <li>
                    按開始計算
                    <ul>
                        <li>得到統計結果，報酬百分比、分布圖等。</li>
                    </ul>
                </li>
            </ol>
            <!-- <p>模型使用方法</p> -->
            <p align="right">資料來源：FinMind</p>
        </div>
    </div>


    <div class=container>
        <form method="POST">
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                發生錯誤，錯誤訊息：{{ error }}
            </div>
            {% endif %}
            <div class="form-group">
                <label>{{ form.start_date.label }}</label>
                {{ form.start_date }}
                <label>{{ form.end_date.label }}</label>
                {{ form.end_date }}
            </div>
            <div class="form-group">
                <label>{{ form.up_down_filter.label }}</label>
                {{ form.up_down_filter }}
                <label>{{ form.ma_filter.label }}</label>
                {{ form.ma_filter }}
                <label>{{ form.ma_filter_len.label }}</label>
                {{ form.ma_filter_len }}
                <label>{{ form.holding_day.label }}</label>
                {{ form.holding_day }}
                <input type='submit' class="btn btn-primary float-right" value="開始計算">
            </div>              
        </form>
    </div>
    <div class='container'>
        <div class='row'>
            {% if graph %}
                <img src="data:image/png;base64,{{ graph|safe }}" alt="" height="400", width="700">
            {% endif %}
            {% if plot_div %}
                {{ plot_div|safe }}
            {% endif %}
        </div>
        <!-- {% if graph %}
            <img src="data:image/png;base64,{{ graph|safe }}" alt="" height="300", width="600">
        {% endif %}
        {% if plot_div %}
            {{ plot_div|safe }}
        {% endif %} -->
    </div>
    {% endblock %}