<!DOCTYPE html>
{% extends "base.html"%}
    {% block body_block %}

    <div class='container'>
        <form method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <!-- <p> 
                {{form.start_date.label}}
                {{form.start_date}}
                {{form.end_date.label}}
                {{form.end_date}}
            </p>
            <p>
                {{form.up_down_filter.label}}
                {{form.up_down_filter}}
                {{form.ma_filter.label}}
                {{form.ma_filter}}
            </p>
            <p>
                {{form.ma_filter_len.label}}
                {{form.ma_filter_len}}
                {{form.holding_day.label}}
                {{form.holding_day}} -->
                <input type='submit' class="btn btn-primary" value="查詢">
            </p>
        </form>
        {% if graph %}
            <img src="data:image/png;base64,{{ graph|safe }}" alt="" height="500", width="1000">
        {% endif %}
    </div>

    {% endblock %}