<!DOCTYPE html>
{% extends "base.html"%}
    {% block body_block %}
    
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">專案簡介</h1>
            <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
            <hr class="my-4">
            <p>我們的程式可以分析股票期貨等金融商品的歷史報酬，可讓使用者設定分析條件如：前日漲跌、均線上下等。
                可以展示歷史報酬各種敘述統計量。除此之外，可以帶入該商品為標的的選擇權價格，推算隱含報酬分布，與歷史報酬分布做比較。最後，可以由上述兩種分布比較並推算出賺錢的投資策略。</p>

            <!-- 這邊放一個操作介面的截圖 -->
        </div>
    </div>
    {% endblock %}