<!DOCTYPE html>
{% extends "base.html"%}
    {% load static %}
    {% block extra_head %}
        <link rel="stylesheet" href="{% static 'css/products.css' %}"/>
    {% endblock %}

    {% block body_block %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">個股分析模型</h1>
            <!-- <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p> -->
            <hr class="my-4">
            <p>模型使用方法</p>
        </div>
    </div>
    <div class="container">
        <!-- 股價查詢 -->
        <div class='container'>
            <form method="POST">
                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    發生錯誤，錯誤訊息：{{ error }}
                </div>
                {% endif %}
                <div class="form-group">
                    <label>{{ form.start_date.label }}</label>
                    {{ form.start_date }}
                    <label>{{ form.end_date.label }}</label>
                    {{ form.end_date }}
                    <label>{{ form.ticker.label }}</label>
                    {{ form.ticker }}
                    <input type='submit' class="btn btn-primary float-right" value="查詢">
                </div>
            </form>
        </div>
        <!-- 基本資料 -->
        {% if info %}
        <div class='container border'>
            <div style="text-align:center;"><h1 text-align='center'>基本資料</h1></div>


            <h2>
                {{ info.stock_name }}({{ info.sic }}) &emsp;
                {% for cate in info.industry %}
                <span class="badge bg-light text-dark">{{ cate }}</span>
                {% endfor %}
            </h2>
            
            {% ifequal info.color 'red' %}
                <h2><span class='badge rounded-pill bg-danger'>今日收盤：{{ info.today_close }}({{ info.diff }})</span></h2> 
            {% endifequal %}
            {% ifequal info.color 'green' %}
                <h2><span class='badge rounded-pill bg-success'>今日收盤：{{ info.today_close }}({{ info.diff }})</span></h2>
            {% endifequal %}
            {% ifequal info.color 'gray' %}
                <h2><span class='badge rounded-pill bg-secondary'>今日收盤：{{ info.today_close }}({{ info.diff }})</span></h2>

        {% endifequal %}
        </div>
        {% endif %}
        <!-- 歷史股價 -->
        {% if graph %}
        <div class='container border'>
            <div style="text-align:center;"><h1>交易資訊</h1></div>
            {{ graph|safe }}
        </div>
        {% endif %}
        <!-- {% if graphic %}
        <img src="data:image/png;base64,{{ graphic|safe }}" alt="" height="500", width="1000">
        {% endif %} -->

        <!-- 籌碼分析 -->
        {% if chip %}
        <div class='container border'>
            <div style="text-align:center;">
                <h1>籌碼分析</h1>
                {{ chip|safe }}
            </div>
        </div>
        {% endif %}
    </div>

    {% endblock %}