<!DOCTYPE html>
{% extends "base.html"%}
    {% block body_block %}
    <div class="container">
        <!-- 股價查詢 -->
        <div class='container' style="display: flex; justify-content: flex-end">
            <form method="POST">
                {{form}}
                {% csrf_token %}
                <input type='submit' class="btn btn-primary" value="查詢">
            </form>
        </div>
        
        <!-- 歷史股價 -->
        {% if graph %}
        <h1>交易資訊</h1>
        {{ graph|safe }}
        {% endif %}
        <!-- {% if graphic %}
        <img src="data:image/png;base64,{{ graphic|safe }}" alt="" height="500", width="1000">
        {% endif %} -->

        <!-- 籌碼分析 -->
        <h1>籌碼分析</h1>
        {% if chip %}
        {{ chip|safe }}
        {% endif %}
    </div>

    {% endblock %}