<!DOCTYPE html>
{% extends "base.html"%}
    {% block body_block %}
    <div class="jumbotron jumbotron-fluid">
        <div class="container">
            <h1 class="display-4">台指選擇權機率分配模型</h1>
            <hr class="my-4">
            <p class="lead">本程式依照John Hull的選擇權機率分配模型搭建，並做出部分校正及變化，推算出該日選擇權之理論機率分佈，操作方法如下:</p>
            <ol>
                <li>選擇日期</li>
                <li>按下開始計算</li>
                <li>若為非交易日則會顯示「非交易日」相關文字</li>
                <li>橫軸顯示為依當日期貨收盤做報酬率分布</li>
                <li>資料來源皆為臺灣期交所</li>
            </ol>
        </div>
    </div>


    <div class='container'>
        <form method="POST">
            {% csrf_token %}
            {% if error %}
            <div class="alert alert-danger" role="alert">
                發生錯誤，錯誤訊息：{{ error }}
            </div>
            {% endif %}
            <div class="form-group">
                <label>{{ form.start_date.label }}</label>
                {{ form.start_date }}
                <input type='submit' class="btn btn-primary float-right" value="開始計算">
            </div>
        </form>
    </div>
    <div class='container'>
        {% if graph %}
            <img src="data:image/png;base64,{{ graph|safe }}" alt="" height="500", width="1000">
        {% endif %}
    </div>

    {% endblock %}